{% extends "root.html" %}
{% block title %} Buy estate {% endblock title %}
{% block header %} {{ message }} {% endblock header %}
  
{% block content %}
<form method="POST">
    {% csrf_token %}
    <h3>Available realtors for this estate</h3>
    {% for realtor in realtors %}
        <table>
        <h2>Realtor: {{realtor.profile.username}}<br></h2>
        <a>Full name:  {{realtor.profile.first_name}} {{ realtor.profile.last_name }}<br></a>
        <br>
        </table>
    {% endfor %}

    <label for="realtor_select">Choose your realtor with whom you want to buy estate:<br></label>
    <select name="realtor_select">
        {% for realtor in realtors %}
        <option value="{{ realtor.id }}">{{ realtor.profile.username }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="text" name="promocode" placeholder="Enter promocode">
    <br>
    <input type="submit" value="Buy">
</form>
{% endblock content %}